<div class="card">
    <div class="card-body">
        <h3 class="card-title"> Pruebas </h3>
        <div class="progress ap-progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="blueProgress" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="blueProgress + '%'"></div>
        </div>
        <div class="progress ap-progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="greenProgress" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="greenProgress + '%'"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer (updateValue)="blueProgress = $event" title="Blue bar" [progress]="blueProgress"></app-incrementer>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer (updateValue)="greenProgress = $event" title="green bar" [progress]="greenProgress"></app-incrementer>
            </div>
        </div>
    </div>
</div>
