<h3>{{ title }}</h3>

<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-outline-primary" type="button" (click)="changeValue(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
    </div>

    <input #inputProgress type="number" class="form-control" name="progress" 
        [(ngModel)]="progress" (ngModelChange)="onChangeModel($event)" min="0" max="100">

    <div class="input-group-btn">
        <button class="btn btn-outline-primary" type="button" (click)="changeValue(5)">
            <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>